///<reference path="../../common/utilities/utilities">
.social-media-login .buttons-row {
    text-align: right;
}

.captcha-image {
    margin-top: 10px !important;
}

.captcha-image-refresh {
    i {
        margin-right: 10px;
    }
}
